extends layout

block content
    h1 Pagina di registrazione
    form(action='/users/nuovoaccount' method='post')
        .form-group
            label(for='exampleInputUname') Username
            input#exampleInputUname.form-control(name='uname'  placeholder='Enter username')
        .form-group
            label(for='exampleInputEmail') Email
            input#exampleInputEmail.form-control(name='email' type='email' aria-describedby='emailHelp' placeholder='Enter email')
        .form-group
            label(for='exampleInputPassword') Password
            input#exampleInputPassword.form-control(type='password' name="psw" placeholder='Password')
        .form-group
            label(for='exampleInputRPassword') Ripeti Password
            input#exampleInputRPassword.form-control(type='password' name='rpsw' placeholder='Password')
            
        br
        button.btn.btn-primary(type='submit') Submit